/* Add a black background color to the top navigation */
.topnav {
  background-color: #373F51;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding-top: 22px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 18px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-right {
  float: right;
  text-align: center;
  padding: 10px 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #E55039;
  color: #373F51;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #4CAF50;
  color: white;
} */
